<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <%if @order.status == 'created' %>
        <h2>Your order successfully created..</h2>
        <h5>Ready for payment</h5>
        
        <p>Thanks for joining and have a great day!</p>
    <%elsif @order.status == 'paymentcompleted'%>
        <h2>ordered successfully </h2>
         <%#byebug%>
          <h4><%= @order.id %><h4>
          <h4><%= @order.total_price %></h4>
          <h4><%= @order.total_quantity %></h4>

        <h3>Thanks for order, have a nice day!</h3>
    <%end%>

  </body>
</html>
